<?xml version="1.0"?>
<config>
	<app>
		<title>Cutscene Manager</title>
		<organization>UPC</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<window>
		<resolution width="1280" height="720" scale="3" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<textures />
	<fonts>
		<defaultFont width="48" height="48" letter="67" r="255" g="255" b="255" a="255" spaceInLetter="-20" layer="3" orderInLayer="3.0" scale="0.1" path="Assets/Fonts/defaultFont.png" />
	</fonts>
	<dialogText />
	<audios>
		<music volume="0" />
		<sfx volume="0" />
	</audios>
	<scenes />
	<map>
		<folder>Assets/maps/</folder>
	</map>
	<cutscene>
		<folder>Files/Cutscenes/</folder>
	</cutscene>
</config>
